<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Cart</h3>


    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="cart-form">
                <div class="form-group">
                    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="add-cart">Add</button>
                <button type="button" class="btn btn-primary" id="place-order">Place Order</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="cart-table">
                <thead>
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Mrp</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>

    <!-- cart Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-cart-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="cart-edit-form">
                        <div class="form-group">
                            <label for="inputcart" class="col-sm-2 col-form-label">cart name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="cartName" placeholder="enter cart name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="category" placeholder="enter category">
                            </div>
                        </div>
                        <input type="hidden" name="id" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-cart">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Employee Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-employee-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload carts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="employee-file">
                        <input type="file" class="custom-file-input" id="cartFile">
                        <label class="custom-file-label" for="cartFile" id="cartFileName">Choose file</label>
                    </div>
                    <a th:href="@{/sample/cart.tsv}" target="_blank">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>
                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/cart.js}"/></script>

</body>

</html>