<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Orders</h3>


    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="order-form" action="/ui/cart">
                <a th:href="@{/ui/cart}">
                    <button type="button" class="btn btn-primary" id="add-order" >Add</button>
                </a>
                <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>

    <!-- order Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="view-order-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Table -->
                        <div class="col-4">
                            <table class="table table-striped" id="order-item-table">
                                <thead>
                                <tr>
                                    <th scope="col">Product Id</th>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Mrp</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id ="invoice">Download Invoice</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>




</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/orders.js}"/></script>

</body>

</html>