<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Products</h3>
    <hr>
    <div class="row">
        &nbsp;
    </div>
    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="product-form">
                <div class="form-group mb-3 w-50">
                    <label for="inputProduct" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="inputProduct" placeholder="Enter Product Name">
                    </div>
                </div>
                <div class="form-group mb-3 w-50">
                    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode">
                    </div>
                </div>
                <div class="form-group mb-3 w-50">
                    <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand Name">
                    </div>
                </div>
                <div class="form-group mb-3 w-50">
                    <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category Name">
                    </div>
                </div>
                <div class="form-group mb-3 w-50">
                    <label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="mrp" id="inputMrp" placeholder="Enter MRP">
                    </div>
                </div>
            </form>
            <button type="button" class="form-group btn btn-outline-primary page-button" id="add-product">Add</button>
            <button type="button" class="form-group btn btn-outline-primary page-button" id="upload-data">Upload</button>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="product-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- product Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="product-edit-form">
                        <div class="form-group">
                            <label for="barcode" class="col-sm-2 col-form-label">Barcode :</label>
                            <div class="col-sm-10">
                                <input class="form-control" id = "barcode" name="barcode" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="brandName" class="col-sm-2 col-form-label">Brand :</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="brand" id = "brandName" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-sm-2 col-form-label">Catogory :</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="category" id = "category" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 col-form-label">Product Name :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id = "inputName" placeholder="Enter Product name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mrp" class="col-sm-2 col-form-label">MRP :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="mrp" id = "mrp" placeholder="Enter Product Mrp">
                            </div>
                        </div>

                        <input type="hidden" name="id" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" id="update-product">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Employee Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload products</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="product-file">
                        <input type="file" class="custom-file-input" id="productFile">
                        <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
                    </div>
                    <a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>
                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/></script>

</body>

</html>